@use '../../index.scss';

.navContainer {
    display: flex;
    gap: 16px;
    list-style: none;
    justify-content: center;
    margin-block: 32px;
}

.isActive > .circle {
    background-color: index.$white;
    opacity: 1;
}

.isPending > .circle {
    background-color: #979797;
}

.bioContainer {
    display: flex;
    flex-direction: column-reverse;
}

.bioWrapper {
    text-align: center;
    width: 87.201%;
    margin-inline: auto;
}

.imgContainer {
    display: flex;
    justify-content: center;
    width: 87.201%;
    margin-inline: auto;
    border-bottom: 1px solid #383B4B;
}

.crewImage {
    width: 54.165%;
    max-width: 568.07px;
}

.role {
    font-family: index.$Bellefair;
    text-transform: uppercase;
    opacity: 0.5;
}

.heading3 {
    font-size: 24px;
    margin-block: 8px 16px;
    text-transform: uppercase;
}

.bio {
    font-size: 15px;
    line-height: 25px;
    font-family: index.$Barlow;
}

.title {
    text-align: center;
    margin-block: 24px 32px;
}

.subContainer {
    display: flex;
    flex-direction: column-reverse;
}

.circle {
    display: block;
    width: 10px;
    height: 10px;
    background-color: #979797;
    border-radius: 100%;
}


@media screen and (min-width: 768px) {
    .title {
        text-align: left;
    }

    .mainContainer {
        width: 90%;
        margin-inline: auto;
    }

    .subContainer {
        display: flex;
        flex-direction: column;
    }

    .role {
        font-size: 24px;
    }

    .heading3 {
        font-size: 40px;
    }

    .bio {
        font-size: 16px;
    }

    .bioContainer {
        display: flex;
        flex-direction: column;
        width: 66.263%;
        margin-inline: auto;
    }

}

@media screen and (min-width: 992px) {
    .subContainer {
        display: grid;
        margin-top: 62px;
        grid-template-columns: repeat(2, 1fr);
    }

    .imgContainer {
        border-bottom: none;
    }

    .crewImage {
        width: 100%;
        object-fit: contain;
    }

    .mainContainer {
        position: relative;
        overflow: hidden;
        padding-left: 93px;
    }

    .title {
        position: absolute;
        font-size: 28px;
        margin-block: 76px 154px;
    }

    .role {
        font-size: 32px;
    }


    .bioContainer {
        width: 100%;
    }

    .heading3 {
        font-size: 56px;
        margin-block: 15px 27px;
    }

    .bioWrapper {
        text-align: left;
        margin-top: 202px;
        margin-inline: 0;
    }

    .bio {
        font-size: 18px;
    }

    .nav {
        display: flex;
    }

    .navContainer {
        align-self: flex-start;
        margin: 120px 0;
    }
}