@use '../../index';

.container {
    margin-inline: auto;
}

.wrapper {
    width: 87.201%;
    margin-top: 12.8%;
    margin-inline: auto;
}

.wrapper > p {
    color: index.$blue;
    text-align: center;
    font-family: index.$Barlow;
}

.heading1 {
    font-size: 80px;
    line-height: 100px;
    text-align: center;
    font-family: index.$Bellefair;
}

.body {
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 24.465%;
}

.exploreBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    background-color: index.$white;
    border-radius: 100%;
    color: index.$black;
    width: 150px;
    height: 150px;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .wrapper {
        margin-top: 13.803%;
        width: 28.125rem;
    }

    .heading1 {
        font-size: 9.375rem;
        line-height: 150px;
        margin-bottom: 2rem;
    }

    .heading2 {
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }

    .body {
        margin-bottom: 34.667%;
    }

    .exploreBtn {
        font-family: index.$Bellefair;
        font-size: 32px;
        width: 242px;
        height: 242px;
    }
}


@media screen and (min-width: 992px) {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }

        .wrapper {
            margin-top: 15.625rem;
        }

        .body {
            margin: 0;
            font-size: 18px;
            line-height: 32px;
        }

        .heading2 {
            font-size: 28px;
            letter-spacing: 4.72px;
        }

        .heading1 {
            letter-spacing: 0px;
        }

        .exploreBtnContainer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .exploreBtn {
            width: 274px;
            height: 274px;
            box-shadow: none;
            transition: all 1s;
        }

        .exploreBtn:hover {
            box-shadow: 0px 0px 0px 88px rgba(255,255,255, 0.15);
        }

}