@use 'index';

.container {
    display: flex;
    justify-content: space-between;
    margin-inline: 24px;
}

.imgLogo {
    padding-block: 24px;
}

.navContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mobileContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 254px;
    height: 100vh;
    top: 0;
    right: -25px;
    background-color: rgba(255, 255, 255, 0.4);
    opacity: 0.2;
}

.mobileContainer a {
    color: index.$white;
    margin-bottom: 32px;
    margin-left: 32px;
}

.mobileContainer img {
    padding: 33.95px 26.45px 64.95px 208.95;
}

.hamburger {
    display: block;
}