$black: #0B0D17;
$blue: #D0D6F9;
$white: #FFFFFF;
$Bellefair: 'Bellefair';
$Barlow: 'Barlow Condensed';

:root {
  font-family: 'Bellefair', 'Barlow Condensed';
  box-sizing: border-box;

  color-scheme: light dark;
  color: $white;
  background-color: #242424;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  min-height: 100vh;
  background-image: url('./assets/home/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.75rem;
  letter-spacing: 4.75;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

a {
  font-family: 'Barlow Condensed';
  text-decoration: none;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('./assets/home/background-home-tablet.jpg');
  }
}

@media screen and (min-width: 992px) {
  body {
    background-image: url('./assets/home/background-home-desktop.jpg');
  }
}